@page
@model ASP_NET_Razor_WorkEF_SignalR.Pages.Products.CreateModel
@{
}

<h1>Create a new Product</h1> <hr/>

<form method="post">
    <div class="form-group">
        <label>Product Name</label>
        <input asp-for="Product.ProductName" class="form-control"/>
    </div>
    
    <div class="form-group">
        <label>Category</label>
        <select asp-for="Product.CategoryId" asp-items="@ViewBag.Category" class="form-control"></select>
    </div>

    <div class="form-group">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Product.Discontinued"/> Discontinued
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary"/>
        <a asp-page="./Index" class="btn btn-success">Back to list</a>
    </div>
</form>